In [1]:
from Titanic_Survival import dummies, x_train, y_train, y_test

import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Titanic-Dataset.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.drop(['Name', 'PassengerId','Ticket','Embarked','Fare','Cabin'], axis="columns", inplace=True)

In [7]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

In [8]:
IV = df.drop(['Survived'], axis="columns")

In [9]:
DV = df.Survived

In [10]:
DV.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
IV

     Pclass     Sex   Age  SibSp  Parch
0         3    male  22.0      1      0
1         1  female  38.0      1      0
2         3  female  26.0      0      0
3         1  female  35.0      1      0
4         3    male  35.0      0      0
..      ...     ...   ...    ...    ...
886       2    male  27.0      0      0
887       1  female  19.0      0      0
888       3  female   NaN      1      2
889       1    male  26.0      0      0
890       3    male  32.0      0      0

[891 rows x 5 columns]

In [12]:
dummies= pd.get_dummies(IV.Sex).astype(int)

In [13]:
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [14]:
IV = pd.concat([IV, dummies], axis="columns")

In [15]:
IV.head()

   Pclass     Sex   Age  SibSp  Parch  female  male
0       3    male  22.0      1      0       0     1
1       1  female  38.0      1      0       1     0
2       3  female  26.0      0      0       1     0
3       1  female  35.0      1      0       1     0
4       3    male  35.0      0      0       0     1

In [17]:
IV.drop(['male'],axis="columns", inplace=True)

In [18]:
IV.head()

   Pclass     Sex   Age  SibSp  Parch  female
0       3    male  22.0      1      0       0
1       1  female  38.0      1      0       1
2       3  female  26.0      0      0       1
3       1  female  35.0      1      0       1
4       3    male  35.0      0      0       0

In [20]:
IV.columns[IV.isna().any()]

Index(['Age'], dtype='object')

In [21]:
IV['Age'].fillna(value=IV['Age'].mean(), inplace=True)

/var/folders/3c/ks19z1_s19l6mv7847_txj1w0000gn/T/ipykernel_9279/790335568.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  IV['Age'].fillna(value=IV['Age'].mean(), inplace=True)

In [22]:
print(IV)

     Pclass     Sex        Age  SibSp  Parch  female
0         3    male  22.000000      1      0       0
1         1  female  38.000000      1      0       1
2         3  female  26.000000      0      0       1
3         1  female  35.000000      1      0       1
4         3    male  35.000000      0      0       0
..      ...     ...        ...    ...    ...     ...
886       2    male  27.000000      0      0       0
887       1  female  19.000000      0      0       1
888       3  female  29.699118      1      2       1
889       1    male  26.000000      0      0       0
890       3    male  32.000000      0      0       0

[891 rows x 6 columns]

In [24]:
IV['Age']=IV['Age'].round().astype(int)

In [25]:
print(IV)

     Pclass     Sex  Age  SibSp  Parch  female
0         3    male   22      1      0       0
1         1  female   38      1      0       1
2         3  female   26      0      0       1
3         1  female   35      1      0       1
4         3    male   35      0      0       0
..      ...     ...  ...    ...    ...     ...
886       2    male   27      0      0       0
887       1  female   19      0      0       1
888       3  female   30      1      2       1
889       1    male   26      0      0       0
890       3    male   32      0      0       0

[891 rows x 6 columns]

In [26]:
IV.columns[IV.isna().any()]

Index([], dtype='object')

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test , y_train, y_test= train_test_split(IV, DV, test_size=0.2)

In [30]:
IV.columns[IV.isna().any()]

Index([], dtype='object')

In [32]:
print(x_train.isna().sum())  # should be all zeros

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
female    0
dtype: int64

In [33]:
from sklearn.naive_bayes import GaussianNB

In [34]:
model = GaussianNB()

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
encoder = LabelEncoder()

In [43]:
x_train['Sex'] = encoder.fit_transform(x_train['Sex'])

In [44]:
model.fit(x_train, y_train)

GaussianNB()

In [46]:
model.score(x_train, y_train)

0.7907303370786517

In [47]:
x_test[0:10]

     Pclass     Sex  Age  SibSp  Parch  female
199       2  female   24      0      0       1
60        3    male   22      0      0       0
504       1  female   16      0      0       1
662       1    male   47      0      0       0
268       1  female   58      0      1       1
802       1    male   11      1      2       0
113       3  female   20      1      0       1
685       2    male   25      1      2       0
612       3  female   30      1      0       1
548       3    male   33      1      1       0

In [49]:
y_test

199    0
60     0
504    1
662    0
268    1
      ..
79     1
387    1
798    0
631    0
544    0
Name: Survived, Length: 179, dtype: int64